.custom_container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.filters_wrapper{
    width: 15%;
    height: fit-content;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;

    border-radius: 10px;
}

.loader_ring{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 75%;
    padding-left: 200px;
}

.products_list_wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    
    padding: 10px;
    padding-left: 40px;

    width: 75%;
}