.cart_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100dvh;
    width: 100%;
    padding: 60px;
}

.cart_price_button{
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.cart_price_total{
    font-family: var(--font-body);
}

.empty_cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}