.cart_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100dvh;
    width: 100%;
    padding: 60px;
}

.empty_cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}