.product_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    background-color: var(--primary-color-ice);

    height: 590px;
    width: 400px;

    border-radius: 10px;

    overflow: hidden;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.product_link_wrapper{
    text-decoration: none;
    color: black;
}

.product_image img{
    height: 500px;
    width: 400px;
}

.product_wrapper:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.product_subcontent_wrapper{
    padding: 10px;
    width: 100%;
}

.product_content_row{
    height: 45px;
}

.product_content_row, .product_age_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: inherit;
}

.product_content_row h3 {
    font-size: 1rem;
    font-family: var(--font-header);
    width: 75%;
    /* margin: 0; */
}
.product_content_row span{
    font-size: 1rem;
    font-family: var(--font-body);
    /* margin: 0; */
}

.product_age_row p{
    /* margin: 10px 0px; */
    font-family: var(--font-body);
    text-transform: uppercase;
}


/* for testing */
/* .products_list_testing_wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    background-color: #efefef;

    width: 70%;
} */