.admin_add_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-dark);

    width: 100%;
    height: 100dvh;
}

.admin_add_subcontainer{
    background-color: var(--primary-color-light);
    padding: 20px;
    color: black;
    border-radius: 20px;
}

.add_form_textarea{
    height: 200px;
}

.admin_add_success{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    border: 5px solid #22bb33;
    border-radius: 20px;
    box-shadow: rgba(34, 187, 51, 0.65) 10px 10px 25px;

    background-color: var(--primary-color-light);
}