.home_about_wrapper {
  height: 1400px;
  background-color: var(--primary-color-ice);

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  overflow: hidden;
}

.home_about_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* first row  */
.home_about_row:nth-child(1) {
  padding-left: 300px;
}

/* second row */
.home_about_row:nth-child(2) {
  padding-right: 300px;
  transform: translateY(-100px);
}

/* third row */
.home_about_row:nth-child(3) {
  transform: translateY(-200px);
}

.home_about_column {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 140px;
  background-color: #efefef;

  padding: 10px 30px;
  border-radius: 50px;
}

.home_about_column__header {
  text-align: center;
  font-family: var(--font-header);
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

.home_about_column__subheader{
    text-align: center;
    font-family: var(--font-body);
}

.buttons_row{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.buttons_row button {
    width: 100px;
}

.buttons_row button:hover {
    background-color: var(--primary-color-medium);
    border: transparent;
    color: black;
}

.home_blob_one {
  background: url(../../images/blob-1.svg);
}

.home_blob_two {
  background: url(../../images/blob-2.svg);
}

.home_blob_three {
  background: url(../../images/blob-3.svg);
}

.home_about_column_blob {
  width: 400px;
  height: 500px;
  aspect-ratio: 900/600;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home_about_snow_model {
  height: 300px;
  width: 200px;

  background-color: rgba(117, 174, 220, 0.3);
  opacity: 0.8;
}

.home_about_row:nth-child(1) .home_about_snow_model{
  /* blob style border radius */
  border-top-left-radius: 50% 60%;
  border-top-right-radius: 60% 40%;
  border-bottom-right-radius: 30% 60%;
  border-bottom-left-radius: 70% 40%;

  transform: translateX(-20px);
}

.home_about_row:nth-child(2) .home_about_snow_model{
      /* blob style border radius */
  border-top-left-radius: 50% 60%;
  border-top-right-radius: 60% 40%;
  border-bottom-right-radius: 50% 60%;
  border-bottom-left-radius: 50% 40%;

  transform: translateX(-5px);
}

.home_about_row:nth-child(3) .home_about_snow_model{
    width: 300px;
    height: 200px;
    /* blob style border radius */
border-top-left-radius: 70% 60%;
border-top-right-radius: 60% 60%;
border-bottom-right-radius: 30% 60%;
border-bottom-left-radius: 40% 40%;

transform: translateX(10px) translateY(10px);
}