.admin_table_column{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    margin: 20px 20px 20px 20px;
}

.admin_table_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border: 1px solid black;
    border-top: 0px;
    background-color: var(--primary-color-light);
}

.admin_table_content:last-child{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.admin_table_content.odd{
    background-color: var(--primary-color-ice);
}